<a href="https://colab.research.google.com/github/Benjamin1118/Review_school_work/blob/main/Ben_Bishop_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
# the sight that I  get the data from
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2021-03-17 19:44:23--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.69.41.132, 54.70.73.5, 54.69.194.26
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.69.41.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [              <=>   ]  22.37M  6.27MB/s    in 4.2s

2021-03-17 19:44:28 (5.27 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23454587]

In [2]:
# unzip the file
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
# inport libraries
import pandas as pd
import numpy as np
# show displays
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100
# set up DF
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
# print shape
print(df.shape)
# print head
df.head()

(128412, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,25000,25000,25000.0,36 months,16.91%,890.20,C,C5,Captain,3 years,RENT,67000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,671xx,KS,13.18,0,Aug-1996,3,46.0,NaN,16,0,17053,29.3%,20,w,9009.62,9009.62,22219.770000,22219.77,15990.38,6229.39,0.0,0.0,0.0,Feb-2021,0.00,Mar-2021,Feb-2021,0,...,2,15,17,9,16,0.0,0,0,5,89.5,10.0,0,0,66400,23438,42400,8200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,40000,40000,40000.0,60 months,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,27912.64,27912.64,20108.000000,20108.00,12087.36,8020.64,0.0,0.0,0.0,Feb-2021,0.00,Mar-2021,Feb-2021,0,...,5,9,14,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,COMPLETE,2.0,0.0,Apr-2020,May-2020,Mar-2020,2.0,2.0,GRACE_CURRENT,613.57,32887.6,875.9,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,35000,35000,35000.0,60 months,15.02%,833.02,C,C3,elementary school teacher,10+ years,MORTGAGE,106095.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,017xx,MA,15.38,1,Mar-1998,0,2.0,NaN,9,0,19518,83.1%,14,w,23488.64,23488.64,20781.690000,20781.69,11511.36,9270.33,0.0,0.0,0.0,Feb-2021,0.00,Mar-2021,Feb-2021,0,...,6,5,7,3,9,0.0,0,0,0,85.7,100.0,0,0,499675,72376,21000,72510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,6000,6000,6000.0,36 months,16.14%,211.36,C,C4,Facility Maintenance Tech,3 years,RENT,40000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,217xx,MD,3.75,0,Aug-2008,0,NaN,NaN,9,0,5580,10.4%,15,w,0.00,0.00,6425.400634,6425.40,6000.00,425.40,0.0,0.0,0.0,May-2019,5588.03,NaN,Jan-2020,0,...,0,8,14,2,9,0.0,0,0,1,100.0,0.0,0,0,55383,6785,48500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,25000,25000,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,Oct-1993,1,10.0,NaN,14,0,26630,53.3%,27,w,0.00,0.00,29563.763968,29563.76,25000.00,4563.76,0.0,0.0,0.0,Aug-2020,19356.36,NaN,Aug-2020,0,...,13,6,10,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# get the first item from the column term
trm=df['term'][:10].iloc[0]
# print trm
print(trm)

 36 months

In [4]:
##### Begin Working Here #####
# Take off the " months" from the column term
def str_to_float(term_str):
  return float((term_str).strip().strip(' months'))

In [12]:
df['term'].apply(str_to_float)

0         36.0
1         60.0
2         60.0
3         36.0
4         60.0
          ...
128407    36.0
128408    36.0
128409    36.0
128410    36.0
128411    36.0
Name: term, Length: 128412, dtype: float64

In [15]:
# new function that will change "Current" or "Fully Paid" to 1 else 0
def Current_or_fully_paid_to1 (status):
  if status== "Current" or "Fully Paid":
    return 1
  else:
    return 0

In [19]:
# creates new column from loan status applys function current or fully paid...
df['loan_status_is_great']=df['loan_status'].apply(Current_or_fully_paid_to1)
# show head of df
df.head()
# df.describe('loan_status_is_great')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,NaN,NaN,25000,25000,25000.0,36 months,16.91%,890.20,C,C5,Captain,3 years,RENT,67000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,671xx,KS,13.18,0,Aug-1996,3,46.0,NaN,16,0,17053,29.3%,20,w,9009.62,9009.62,22219.770000,22219.77,15990.38,6229.39,0.0,0.0,0.0,Feb-2021,0.00,Mar-2021,Feb-2021,0,...,15,17,9,16,0.0,0,0,5,89.5,10.0,0,0,66400,23438,42400,8200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,40000,40000,40000.0,60 months,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,27912.64,27912.64,20108.000000,20108.00,12087.36,8020.64,0.0,0.0,0.0,Feb-2021,0.00,Mar-2021,Feb-2021,0,...,9,14,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,COMPLETE,2.0,0.0,Apr-2020,May-2020,Mar-2020,2.0,2.0,GRACE_CURRENT,613.57,32887.6,875.9,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,35000,35000,35000.0,60 months,15.02%,833.02,C,C3,elementary school teacher,10+ years,MORTGAGE,106095.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,017xx,MA,15.38,1,Mar-1998,0,2.0,NaN,9,0,19518,83.1%,14,w,23488.64,23488.64,20781.690000,20781.69,11511.36,9270.33,0.0,0.0,0.0,Feb-2021,0.00,Mar-2021,Feb-2021,0,...,5,7,3,9,0.0,0,0,0,85.7,100.0,0,0,499675,72376,21000,72510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
3,NaN,NaN,6000,6000,6000.0,36 months,16.14%,211.36,C,C4,Facility Maintenance Tech,3 years,RENT,40000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,217xx,MD,3.75,0,Aug-2008,0,NaN,NaN,9,0,5580,10.4%,15,w,0.00,0.00,6425.400634,6425.40,6000.00,425.40,0.0,0.0,0.0,May-2019,5588.03,NaN,Jan-2020,0,...,8,14,2,9,0.0,0,0,1,100.0,0.0,0,0,55383,6785,48500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,NaN,NaN,25000,25000,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,Oct-1993,1,10.0,NaN,14,0,26630,53.3%,27,w,0.00,0.00,29563.763968,29563.76,25000.00,4563.76,0.0,0.0,0.0,Aug-2020,19356.36,NaN,Aug-2020,0,...,6,10,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1

In [21]:
# return the value as a float
str_to_float(trm)

NameError: ignored

In [24]:
# change the date time to legible format
df['last_pymnt_d']=pd.to_datetime(df['last_pymnt_d'],infer_datetime_format=True)

In [26]:
# show the  year of each row
df['last_pymnt_d'].dt.year

0         2021.0
1         2021.0
2         2021.0
3         2019.0
4         2020.0
           ...
128407    2018.0
128408    2021.0
128409    2021.0
128410    2021.0
128411    2021.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [27]:
# Make last_pymnt_d_month and last_pymnt_d_year columns.
df['last_pymnt_d_year']=df['last_pymnt_d'].dt.year

In [28]:
# New column from last_pymnt_d and print head
df['last_pymnt_d_month']=df['last_pymnt_d'].dt.month
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_year,last_pymnt_d_month
0,NaN,NaN,25000,25000,25000.0,36 months,16.91%,890.20,C,C5,Captain,3 years,RENT,67000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,671xx,KS,13.18,0,Aug-1996,3,46.0,NaN,16,0,17053,29.3%,20,w,9009.62,9009.62,22219.770000,22219.77,15990.38,6229.39,0.0,0.0,0.0,2021-02-01,0.00,Mar-2021,Feb-2021,0,...,9,16,0.0,0,0,5,89.5,10.0,0,0,66400,23438,42400,8200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2021.0,2.0
1,NaN,NaN,40000,40000,40000.0,60 months,11.31%,875.90,B,B3,NaN,< 1 year,MORTGAGE,136000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,480xx,MI,15.41,0,Apr-2006,0,72.0,NaN,12,0,34283,81%,22,w,27912.64,27912.64,20108.000000,20108.00,12087.36,8020.64,0.0,0.0,0.0,2021-02-01,0.00,Mar-2021,Feb-2021,0,...,8,12,0.0,0,0,2,86.4,75.0,0,0,179159,62143,25000,42409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,CVD19SKIP,INCOMECURT,COMPLETE,2.0,0.0,Apr-2020,May-2020,Mar-2020,2.0,2.0,GRACE_CURRENT,613.57,32887.6,875.9,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2021.0,2.0
2,NaN,NaN,35000,35000,35000.0,60 months,15.02%,833.02,C,C3,elementary school teacher,10+ years,MORTGAGE,106095.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,017xx,MA,15.38,1,Mar-1998,0,2.0,NaN,9,0,19518,83.1%,14,w,23488.64,23488.64,20781.690000,20781.69,11511.36,9270.33,0.0,0.0,0.0,2021-02-01,0.00,Mar-2021,Feb-2021,0,...,3,9,0.0,0,0,0,85.7,100.0,0,0,499675,72376,21000,72510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2021.0,2.0
3,NaN,NaN,6000,6000,6000.0,36 months,16.14%,211.36,C,C4,Facility Maintenance Tech,3 years,RENT,40000.0,Source Verified,Dec-2018,Fully Paid,n,NaN,NaN,other,Other,217xx,MD,3.75,0,Aug-2008,0,NaN,NaN,9,0,5580,10.4%,15,w,0.00,0.00,6425.400634,6425.40,6000.00,425.40,0.0,0.0,0.0,2019-05-01,5588.03,NaN,Jan-2020,0,...,2,9,0.0,0,0,1,100.0,0.0,0,0,55383,6785,48500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,5.0
4,NaN,NaN,25000,25000,25000.0,60 months,12.98%,568.58,B,B5,Tire builder,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,Oct-1993,1,10.0,NaN,14,0,26630,53.3%,27,w,0.00,0.00,29563.763968,29563.76,25000.00,4563.76,0.0,0.0,0.0,2020-08-01,19356.36,NaN,Aug-2020,0,...,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2020.0,8.0

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01