<a href="https://colab.research.google.com/github/Benjamin1118/Review_school_work/blob/main/Ben_Bishop_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
# set up before I started
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2021-03-17 20:16:41--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.114.109
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.114.109|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2021-03-17 20:16:41 ERROR 403: Forbidden.

In [ ]:
# set up before I started
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

tar (child): instacart_online_grocery_shopping_2017_05_01.tar.gz: Cannot open: No such file or directory
tar (child): Error is not recoverable: exiting now
tar: Child returned status 2
tar: Error is not recoverable: exiting now

In [ ]:
# set up before I started
%cd instacart_2017_05_01

[Errno 2] No such file or directory: 'instacart_2017_05_01'
/content

In [ ]:
# set up before I started
!ls -lh *.csv

ls: cannot access '*.csv': No such file or directory

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [ ]:
# import libraries needed
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# set up df orders
orders=pd.read_csv('orders.csv')
# print the shape and head
print(orders.shape)
orders.head()

FileNotFoundError: ignored

In [ ]:
# set up previos order df
order_products__prior=pd.read_csv('order_products__prior.csv')
# print shape and head
print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
# set up training df print shape and head
order_products__train= pd.read_csv('order_products__train.csv')
print(order_products__train.shape)
order_products__train.head()
# concatenate dfs on order products and print head
prch_products=pd.concat([order_products__prior, order_products__train])
prch_products.head()
#order_products.sort_values('product_id',ascending=False)

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
# set up products df and print shape and head
products=pd.read_csv('products.csv')
print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [ ]:
##### YOUR CODE HERE #####
# I will need 'product_name', 'product_id'?, 
# concatenate  on order products show result 
prch_product=pd.concat([order_products__prior, order_products__train])
pd.set_option('display.max_rows',500)
prch_product.sort_values(['order_id','product_id','reordered']).head(100)
#print (prch_product.shape)

#prch_product.head()

In [ ]:
# merge dfs on product id and name

ordered_products=pd.merge(prch_products,products[['product_id','product_name']])
ordered_products.head()

   order_id  product_id  add_to_cart_order  reordered        product_name
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites

In [ ]:
# get most commonly used order and print them
# count times top 10 were purchased
ordered_products['product_name'].value_counts().sort_values(ascending=False)[:10]

Banana                    491291
Bag of Organic Bananas    394930
Organic Strawberries      275577
Organic Baby Spinach      251705
Organic Hass Avocado      220877
Organic Avocado           184224
Large Lemon               160792
Strawberries              149445
Limes                     146660
Organic Whole Milk        142813
Name: product_name, dtype: int64

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [9]:
# set up before I did anything to it

flights = sns.load_dataset('flights')
wide=flights.pivot_table(index=['year'],columns=['month'])
print(wide)

      passengers
month        Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
year
1949         112  118  132  129  121  135  148  148  136  119  104  118
1950         115  126  141  135  125  149  170  170  158  133  114  140
1951         145  150  178  163  172  178  199  199  184  162  146  166
1952         171  180  193  181  183  218  230  242  209  191  172  194
1953         196  196  236  235  229  243  264  272  237  211  180  201
1954         204  188  235  227  234  264  302  293  259  229  203  229
1955         242  233  267  269  270  315  364  347  312  274  237  278
1956         284  277  317  313  318  374  413  405  355  306  271  306
1957         315  301  356  348  355  422  465  467  404  347  305  336
1958         340  318  362  348  363  435  491  505  404  359  310  337
1959         360  342  406  396  420  472  548  559  463  407  362  405
1960         417  391  419  461  472  535  622  606  508  461  390  432

In [11]:
##### YOUR CODE HERE #####
#table 2 to tidy
# clean up df
table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T
tidy2=table2.T.reset_index().melt(id_vars='index').rename(columns={ 'index': 'name', 
    'variable': 'trt', 
    'value': 'result'})
tidy2['trt']=tidy2['trt'].str.replace('treatment', '')
tidy2= tidy2.set_index('name')
tidy2

             trt  result
name
John Smith     a     NaN
Jane Doe       a    16.0
Mary Johnson   a     3.0
John Smith     b     2.0
Jane Doe       b    11.0
Mary Johnson   b     1.0

In [ ]:
# Tidy to table 2
# reorient df
tab3=table2.reset_index()
tab4=tab3.melt(id_vars='index')
tab5=tab4.rename(columns={ 'index': 'treatment', 'variable':'name','value':'result'})
tab6=tab5[['name','treatment','result']]
tab6.treatment=tab6.treatment.str.replace('treatment','')
tab7=tab6.pivot(index='treatment',columns='name', values='result')
tab7

name       Jane Doe  John Smith  Mary Johnson
treatment
a              16.0         NaN           3.0
b              11.0         2.0           1.0

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####